<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Titel</title>
</head>
<body>

</body>
<footer class="footer bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5 class="text-center">ECO-Ride</h5>
                <p class="text-center">Address: 123 Street, City, Country</p>
                <p class="text-center">Phone: +1234567890</p>
                <p class="text-center">Email: info@eco-ride.com</p>
            </div>
            <div class="col-md-4">
                <h5 class="text-center">Quick Links</h5>
                <ul class="list-unstyled text-center">
                    <li><a href="index">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="services">Services</a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 class="text-center">Follow Us</h5>
                <ul class="list-inline text-center">
                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col text-center">
                <p>
                    <a href="#">Cookie-Einstellungen</a> |
                    <a href="#">AGB</a> |
                    <a href="#">Datenschutz</a> |
                    <a href="#">Impressum</a>
                </p>
                <p>&copy; 2023 ECO-Ride. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>



</html>
