body {
    background-color: #f8f9fa;
}

h1, h2 {
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    color: #555;
    margin-bottom: 10px;
}
@keyframes fadeIn_h {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

h1 {
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    animation: fadeIn_h 2s ease-in-out;
}

h2 {
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    animation: fadeIn_h 2s ease-in-out;
}