body {
    background: linear-gradient(90deg, rgb(231, 240, 232) 0%, rgb(222, 224, 232) 0%, rgb(230, 231, 214) 100%);
}
.chart-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}
.chart-wrapper {
    flex: 1 1 300px;
    max-width: 400px;
    max-height: 400px;
    position: relative;
}
.chart-wrapper canvas {
    width: 100% !important;
    height: 100% !important;
}
.chart-expanded {
    width: 1000px !important;
    height: 600px !important;
}
.navbar {
    background-color: #343a40;
}
.navbar-brand {
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}
.navbar-brand:hover {
    color: #fff;
}
.navbar-nav .nav-link {
    color: #fff;
}
.navbar-nav .nav-link:hover {
    color: #fff;
}
h1 {
    color: #343a40;
    font-size: 36px;
    font-weight: bold;
    margin-top: 40px;
}
.footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0px;
    padding: 0 300px;
}
.table {
    background-color: #fff;
    margin-bottom: 30px;
}
.table th {
    background-color: #343a40;
    color: #fff;
    font-weight: bold;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}
.footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
}
.footer a {
    color: #fff;
}
.footer a:hover {
    color: #fff;
    text-decoration: underline;
}
.status-cell {
    font-weight: bold;
    text-align: center;
}
.enabled {
    color: green;
}

.disabled {
    color: red;
}