html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "neue-schriftart", Helvetica, sans-serif;
    background: url("/img/1_1_1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container {
    color: #ffffff;
    min-height: calc(100% - 100px);
    overflow-y: auto;
}
h1, h2, h4, p,.text-center  {
    color: #ffffff;
}
h2 {
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}
p {
    font-size: 18px;
}


.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 54px;
    width: 100%;
    background-color: #fff;
    color: #808080;
    text-align: center;
}

.footer span
{
    color: #808080;
}

.footer a
{
    color: #808080;
}

.footer a:hover {
    color: #808080;
    text-decoration: underline;
}
.navbar {
    background-color: #ffffff;
}
