<!DOCTYPE html>
<html>
<head>
  <title>Kontaktseite</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
  <link rel="icon" href="/img/Logo.png" type="image/png">
  <style>
    #map {
      height: 400px;
      width: 100%;
      border: 1px solid #ccc;
    }
    #map-container {
      border: 1px solid #ccc;
      border-radius: 5px;
      overflow: hidden;
    }
    @keyframes fadeIn_h {
      0% {
        opacity: 0;
        transform: scale(0.8);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }

    h1 {
      font-family: 'Roboto Condensed', Arial, sans-serif;
      font-weight: 700;
      font-size: 36px;
      text-align: center;
      animation: fadeIn_h 2s ease-in-out;
    }

    h2 {
      font-family: 'Roboto Condensed', Arial, sans-serif;
      font-weight: 700;
      font-size: 28px;
      text-align: center;
      animation: fadeIn_h 2s ease-in-out;
    }
    textarea#message {
      height: 200px;
    }
    @media screen and (max-width: 768px) {
      #findNearestContainer {
        width: 100%;
        text-align: center;
      }
    }

  </style>
</head>
<body>
<div th:replace="fragments/nav::nav"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-6" style="margin-top: 160px;">
      <h2 data-aos="fade-right">Kontaktieren Sie uns</h2>
      <form action="/submit_form" method="post" data-aos="fade-left">
        <div class="form-group">
          <input type="hidden" id="id" name="id" th:value="${userDetails.id}">
        </div>
        <div class="form-group">
          <input type="hidden" id="name" name="name" th:value="${userDetails.firstName}">
        </div>
        <div class="form-group">
          <input type="hidden" id="vorname" name="vorname" th:value="${userDetails.lastName}">
        </div>
        <div class="form-group">
          <input type="hidden"  id="adresse" name="adresse" th:value="${userDetails.adresse}" >
        </div>
        <div class="form-group">
          <label for="telefon">Telefon:</label>
          <input type="tel" class="form-control" id="telefon" name="telefon" th:value="${userDetails.telefonnummer}">
        </div>
        <div class="form-group">
          <label for="email">E-Mail:</label>
          <input type="email" class="form-control" id="email" name="email" th:value="${userDetails.email}" >
        </div>
        <div class="form-group">
          <label for="message">Nachricht<sup>*</sup> (<span id="charCount">0</span>/150 Buchstaben):</label>
          <textarea class="form-control" id="message" name="message" required maxlength="150" onkeyup="countCharacters(this)"></textarea>
        </div>
        <div class="alert alert-danger" th:if="${param.error == 'too_many_characters'}">
          Die eingegebene Nachricht enthält mehr als 150 Buchstaben. Bitte kürzen Sie die Nachricht.
        </div>
        <button type="submit" class="btn btn-primary">Abschicken</button>
      </form>
    </div>
    <div class="col-lg-6" style="margin-top: 250px;">
      <h2 data-aos="fade-right">Unsere Standorte</h2>
      <div id="map-container" data-aos="fade-up"><div id="map"></div></div>
      <div id="findNearestContainer" style="text-align: center;">
        <button id="findNearest" class="btn btn-primary" style="margin-top: 20px;">Finde nächstgelegene Filiale</button>
      </div>
    </div>
  </div>
</div>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script src="https://kit.fontawesome.com/13bb240f97.js" crossorigin="anonymous"></script>
<script>
  function countCharacters(element) {
    var charCountElement = document.getElementById("charCount");
    var message = element.value.trim();
    var charCount = message.length;

    charCountElement.innerText = charCount;
  }

  AOS.init({
    offset: 200,
    duration: 600,
    easing: 'ease-in-sine',
    delay: 100,
  });

  var map = L.map('map').setView([53.0421, 8.8384], 13);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
  }).addTo(map);

  var carIcon = L.icon({
    iconUrl: 'https://i.ibb.co/3r7VRXT/Logo.png',
    iconSize: [25, 41],
    iconAnchor: [12, 41],
    popupAnchor: [1, -34],
    shadowSize: [41, 41]
  });

  var locations = [
    [53.0421, 8.8384], // Werderstraße 73, 28199 Bremen
    [53.0758, 8.8095], // Neustadtswall 30, 28199 Bremen
    [53.0755, 8.8076], // Bürgermeister-Smidt-Straße, 28195 Bremen
    [53.0475, 8.7894]  // Flughafenallee 10, 28199 Bremen
  ];

  for (var i = 0; i < locations.length; i++) {
    L.marker(locations[i], {icon: carIcon}).addTo(map);
  }

  // Get user's location
  map.locate({setView: true, maxZoom: 16});

  function onLocationFound(e) {
    L.marker(e.latlng, {icon: carIcon}).addTo(map);
  }

  map.on('locationfound', onLocationFound);

  var userMarker;
  var nearestMarker;
  var polyline;

  document.getElementById('findNearest').addEventListener('click', function() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else {
      alert("Geolocation is not supported by this browser.");
    }
  });

  function showPosition(position) {
    var userLocation = new L.LatLng(position.coords.latitude, position.coords.longitude);

    if (userMarker) {
      map.removeLayer(userMarker);
    }

    userMarker = L.marker(userLocation).addTo(map);

    var nearestLocation;
    var shortestDistance = Number.MAX_VALUE;

    for (var i = 0; i < locations.length; i++) {
      var distance = map.distance(userLocation, locations[i]);
      if (distance < shortestDistance) {
        shortestDistance = distance;
        nearestLocation = locations[i];
      }
    }

    if (nearestMarker) {
      map.removeLayer(nearestMarker);
    }

    nearestMarker = L.marker(nearestLocation, {icon: carIcon}).addTo(map);

    if (polyline) {
      map.removeLayer(polyline);
    }

    polyline = L.polyline([userLocation, nearestLocation], {color: 'red'}).addTo(map);

    map.fitBounds([userLocation, nearestLocation]);
  }
</script>
<div class="footer">
  <div th:replace="fragments/footer.html::footer"></div>
</div>
</body>
</html>
