<!DOCTYPE html>
<html>
<head>
    <title>Kontaktseite</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/contactWitjoutLogin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="icon" href="/img/Logo.png" type="image/png">
    <link rel="stylesheet" href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css">
</head>
<body>
<div th:replace="fragments/navWithoutLogin::nav"></div>
<div class="main-content">
    <div class="row">
        <div class="col-lg-6" style="margin-top: 30px;">
            <h2 data-aos="fade-right">Kontaktieren Sie uns</h2>
            <form action="/api/v/registration/submit_form" method="post" data-aos="fade-left">
                <div class="form-group">
                    <label for="name">Name<sup>*</sup>:</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="vorname">Vorname<sup>*</sup>:</label>
                    <input type="text" class="form-control" id="vorname" name="vorname" required>
                </div>
                <div class="form-group">
                    <label for="adresse">Adresse:</label>
                    <input type="text" class="form-control" id="adresse" name="adresse">
                </div>
                <div class="form-group">
                    <label for="telefon">Telefon:</label>
                    <input type="tel" class="form-control" id="telefon" name="telefon">
                </div>
                <div class="form-group">
                    <label for="mobil">Mobil:</label>
                    <input type="tel" class="form-control" id="mobil" name="mobil">
                </div>
                <div class="form-group">
                    <label for="email">E-Mail:</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="form-group">
                    <label for="message">Nachricht<sup>*</sup> (<span id="charCount">0</span>/150 Buchstaben):</label>
                    <textarea class="form-control" id="message" name="message" required maxlength="150" onkeyup="countCharacters(this)"></textarea>
                </div>
                <div class="alert alert-danger" th:if="${param.error == 'too_many_characters'}">
                    Die eingegebene Nachricht enthält mehr als 150 Buchstaben. Bitte kürzen Sie die Nachricht.
                </div>
                <button type="submit" class="btn btn-primary">Abschicken</button>
            </form>
        </div>
        <div class="col-lg-6" style="margin-top: 250px;">
            <h2 data-aos="fade-right">Unsere Standorte</h2>
            <div id="map-container" data-aos="fade-up"><div id="map"></div></div>
            <div id="findNearestContainer" style="text-align: center;">
                <button id="findNearest" class="btn btn-primary" style="margin-top: 20px;">Finde nächstgelegene Filiale</button>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script src="https://kit.fontawesome.com/13bb240f97.js" crossorigin="anonymous"></script>
<script src="/js/contact.js"></script>
<!-- Footer -->
<div class="footer">
    <div th:replace="fragments/footer.html::footer"></div>
</div>
</body>
</html>