<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Edit User</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/edit_user.css">
</head>
<body>
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">ECO-RIDE</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/users/">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/users/kunden">Kunden</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container text-white">
  <main class="container">
    <h1 class="text-center mt-4">Edit User</h1>
    <form class="my-form" th:action="@{/admin/users/{id}/edit(id=${user.id})}" method="post">
      <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" id="enabled" th:name="enabled" th:checked="${user.enabled}" style="color: red;">
        <label class="form-check-label" for="enabled" style="color: red;">Entsperrt</label>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead class="thead-dark">
          <tr>
            <th>Field</th>
            <th>Value</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Title</td>
            <td><input type="text" class="form-control" th:name="titel" th:value="${user.titel}" placeholder="Titel"></td>
          </tr>
          <tr>
            <td>Username</td>
            <td><input type="text" class="form-control" th:name="userName" th:value="${user.userName}" placeholder="Username"></td>
          </tr>
          <tr>
            <td>First Name</td>
            <td><input type="text" class="form-control" th:name="firstName" th:value="${user.firstName}" placeholder="First Name"></td>
          </tr>
          <tr>
            <td>Last Name</td>
            <td><input type="text" class="form-control" th:name="lastName" th:value="${user.lastName}" placeholder="Last Name"></td>
          </tr>
          <tr>
            <td>Email</td>
            <td><input type="email" class="form-control" th:name="email" th:value="${user.email}" placeholder="Email"></td>
          </tr>
          <tr>
            <td>TelefonNr</td>
            <td><input type="text" class="form-control" th:name="telefonnummer" th:value="${user.telefonnummer}" placeholder="TelefonNr"></td>
          </tr>
          <tr>
            <td>Adresse</td>
            <td><input type="text" class="form-control" th:name="adresse" th:value="${user.adresse}" placeholder="Adresse"></td>
          </tr>
          <tr>
            <td>PLZ Code</td>
            <td><input type="text" class="form-control" th:name="plz" th:value="${user.plz}" placeholder="PLZ"></td>
          </tr>
          <tr>
            <td>Stadt</td>
            <td><input type="text" class="form-control" th:name="stadt" th:value="${user.stadt}" placeholder="Stadt"></td>
          </tr>
          <tr>
            <td>Gebutrtsort</td>
            <td><input type="text" class="form-control" th:name="geburtsdatum" th:value="${user.geburtsdatum}" placeholder="Geburtsdatum"></td>
          </tr>
          <tr>
            <td>Place of Birth</td>
            <td><input type="text" class="form-control" th:name="geburtsort" th:value="${user.geburtsort}" placeholder="Gebutrtsort"></td>
          </tr>
          <tr>
            <td>FührerscheinNr</td>
            <td><input type="text" class="form-control" th:name="fuehrerscheinnummer" th:value="${user.fuehrerscheinnummer}" placeholder="FührerscheinNr"></td>
          </tr>
          <tr>
            <td>Erteilungsdatum</td>
            <td><input type="text" class="form-control" th:name="erteilungsdatum" th:value="${user.erteilungsdatum}" placeholder="Erteilungsdatum"></td>
          </tr>
          <tr>
            <td>Ablaufdatum</td>
            <td><input type="text" class="form-control" th:name="ablaufdatum" th:value="${user.ablaufdatum}" placeholder="Ablaufdatum"></td>
          </tr>
          <tr>
            <td>Aussetllungsort</td>
            <td><input type="text" class="form-control" th:name="ausstellungsort" th:value="${user.ausstellungsort}" placeholder="Aussetllungsort"></td>
          </tr>
          <tr>
            <td>AusweisNr</td>
            <td><input type="text" class="form-control" th:name="personalausweisnummer" th:value="${user.personalausweisnummer}" placeholder="AusweisNr"></td>
          </tr>
          <tr>
            <td>ReisepassNr</td>
            <td><input type="text" class="form-control" th:name="reisepassnummer" th:value="${user.reisepassnummer}" placeholder="ReisepassNr"></td>
          </tr>
          <tr>
            <td>Tarif</td>
            <td><input type="text" class="form-control" th:name="tarif" th:value="${user.tarif}" placeholder="Tarif"></td>
          </tr>
          <tr>
            <td>Bezahlmethode</td>
            <td><input type="text" class="form-control" th:name="payMethod" th:value="${user.payMethod}" placeholder="Bezahlmethode"></td>
          </tr>
          </tbody>
        </table>
      </div>
      <button type="submit" class="btn btn-primary" style="margin-bottom: 30px;">Speichern</button>
    </form>
  </main>
  <footer class="footer mt-auto py-3" style="position: fixed; bottom: 0; width: 100%;">
    <div class="container">
      <span>&copy; 2023 ECO-RIDE. All rights reserved.</span>
    </div>
  </footer>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
