<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Autovermietung</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css">
    <style>
        .parallax
        {
            background-image: url("/img/1.png");
            min-height: 1000px;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .parallax h1,
        #services-section h2,
        #services-section h4,
        #services-section p,
        .text-white,
        #reviews-section,
        #about-section,
        .text-center,
        #newsletter-section,
        #werbungAbtal
        {
            color: #ffffff;
        }

        .btn-animate
        {
            transition: transform .3s;
        }
        .btn-animate:hover
        {
            transform: scale(1.1);
        }
        .carousel-container,
        #reviews-section,
        #about-section,
        #faq-section,
        .card,
        #newsletter-section,
        #werbungAbtal
        {
            background: rgba(64, 64, 64, 0.5);
            border: 2px solid rgba(64, 64, 64, 0.5);
        }

        .carousel-image
        {
            width: 50%;
            margin: auto;
            display: block;
        }

        h1
        {
            font-family: 'Roboto Condensed', Georgia, sans-serif;
            font-weight: 700;
            font-size: 36px;
            text-align: center;
            animation: fadeIn_h 2s ease-in-out;
        }

        h2
        {
            font-family: 'Roboto Condensed', Georgia, sans-serif;
            font-weight: 700;
            font-size: 28px;
            text-align: center;
            animation: fadeIn_h 2s ease-in-out;
        }
        @keyframes fadeIn_h
        {
            0%
            {
                opacity: 0;
                transform: scale(0.8);
            }
            100%
            {
                opacity: 1;
                transform: scale(1);
            }
        }
        #services-section,
        #reviews-section
        {
            margin: 0 auto;
            width: 70%;
        }

        .service-box,
        .review-box
        {
            text-align: center;
        }

        .service-title
        {
            padding-bottom: 1%;
        }

        .service-description
        {
            line-height: 1.5;
        }
        .review-text
        {
            padding-top: 3%;
            line-height: 1.5;
        }
        .btn-link
        {
            color: #f1f1f1; /* Helle Textfarbe */
        }

        .btn-link:hover
        {
            color: #c1c1c1; /* Helle Textfarbe beim Darüberfahren */
        }
        .card-body
        {
            color: #f1f1f1; /* Helle Textfarbe */
        }
        body
        {
            font-family: "neue-schriftart", Georgia, sans-serif;
        }

    </style>
</head>
<body>
<!-- Navigation -->
<div th:replace="fragments/navWithoutLogin::nav"></div>


<!-- Parallax Section -->
<div class="parallax">
    <div id="werbungAbtal" class="container p-5">
        <h2 data-aos="fade-up" style="color: yellow;">Werbung <br> فقد للابطال <br>^-^</h2>
    </div>

    <h1 class="text-white text-center p-5">Willkommen bei ECO RIDE, <br> Ihrem Tor zu erstklassiger, umweltfreundlicher Mobilität <br> und exzellentem Kundenservice!</h1>
    <!-- Carousel -->
    <div id="carouselExampleIndicators" class="carousel slide carousel-container" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/img/2_0.png" class="carousel-image" alt="Car 1">
            </div>
            <div class="carousel-item">
                <img src="/img/2_1.png" class="carousel-image" alt="Car 2">
            </div>
            <div class="carousel-item">
                <img src="/img/2_2.png" class="carousel-image" alt="Car 3">
            </div>
            <div class="carousel-item">
                <img src="/img/2_3.png" class="carousel-image" alt="Car 3">
            </div>
            <div class="carousel-item">
                <img src="/img/2_5.png" class="carousel-image" alt="Car 3">
            </div>
        </div>
    </div>
    <!-- Begin Parallax Section -->
    <h1 class="text-center py-3 text-white">Was unsere Kunden sagen</h1>
    <div id="reviews-section" class="container p-5">
        <div class="row text-center">
            <!-- First Review -->
            <div class="col-lg-6 review-box" data-aos="fade-right">
                <p class="review-text text-white">"Toller Service und tolle Autos!" - Kunde 1</p>
            </div>
            <!-- Second Review -->
            <div class="col-lg-6 review-box" data-aos="fade-left">
                <p class="review-text text-white">"Sehr zufrieden mit dem Preis und dem Service!" - Kunde 2</p>
            </div>
        </div>
    </div>

    <h1 class="text-white text-center p-5">Umleitungfürbuchen</h1>
    <!-- About Us Section -->
    <h2 class="text-center" data-aos="fade-down">Über Uns</h2>
    <div id="about-section" class="container p-5">
        <p data-aos="fade-up">
            Wir sind ein engagiertes Team von Autoenthusiasten, das sich zum Ziel gesetzt hat,
            Ihnen den besten Autovermietungsservice zu bieten. Seit unserer Gründung im Jahr 2023
            haben wir unermüdlich daran gearbeitet, eine große Auswahl an Fahrzeugen zu
            erschwinglichen Preisen anzubieten und einen herausragenden Kundenservice zu bieten.
        </p>
    </div>

    <!-- Gallery Section -->
    <h1 class="text-center" data-aos="fade-down">Unsere Fahrzeuggalerie</h1>
    <div class="container p-5">

        <div class="row">
            <!-- Car 1 -->
            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up">
                <div class="card h-100">
                    <img src="/img/2_0.png" class="card-img-top" alt="Car 1">
                    <div class="card-body">
                        <h4 class="card-title">BMW 5er</h4>
                        <p class="card-text">Premium-Komfort und luxuriöses Fahrerlebnis.</p>
                    </div>
                </div>
            </div>
            <!-- Car 2 -->
            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up">
                <div class="card h-100">
                    <img src="/img/3_2.png" class="card-img-top" alt="Car 2">
                    <div class="card-body">
                        <h4 class="card-title">Mazda</h4>
                        <p class="card-text">Sportlichkeit<br>Eleganz vereint.</p>
                    </div>
                </div>
            </div>
            <!-- Car 3 -->
            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up">
                <div class="card h-100">
                    <img src="/img/2_2.png" class="card-img-top" alt="Car 6">
                    <div class="card-body">
                        <h4 class="card-title">Hyundai</h4>
                        <p class="card-text">Vielseitigkeit<br>Große Ladekapazität<br>Zuverlässigkeit</p>
                    </div>
                </div>
            </div>
            <!-- Car 4 -->
            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up">
                <div class="card h-100">
                    <img src="/img/3_5.png" class="card-img-top" alt="Car 4">
                    <div class="card-body">
                        <h4 class="card-title">Porsche Taycan</h4>
                        <p class="card-text">Elektrisierendes Fahrvergnügen<br>Große Ladekapazität<br>atemberaubende Leistung.</p>
                    </div>
                </div>
            </div>
            <!-- Car 5 -->
            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up">
                <div class="card h-100">
                    <img src="/img/2_5.png" class="card-img-top" alt="Car 6">
                    <div class="card-body">
                        <h4 class="card-title">Range-Rover</h4>
                        <p class="card-text">Elektrisierendes Fahrvergnügen<br>atemberaubende Leistung.</p>
                    </div>
                </div>
            </div>
            <!-- Car 6 -->
            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up">
                <div class="card h-100">
                    <img src="/img/2_6.png" class="card-img-top" alt="Car 6">
                    <div class="card-body">
                        <h4 class="card-title">Mercedes G-Klasse</h4>
                        <p class="card-text">Elektrisierendes Fahrvergnügen<br>atemberaubende Leistung.</p>
                    </div>
                </div>
            </div>
            <!-- Car 7 -->
            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up">
                <div class="card h-100">
                    <img src="/img/2_4.png" class="card-img-top" alt="Car 7">
                    <div class="card-body">
                        <h4 class="card-title">Mercedes-Benz Vito</h4>
                        <p class="card-text">Zuverlässigkeit<br>Große Ladekapazität<br>atemberaubende Leistung.</p>
                    </div>
                </div>
            </div>
            <!-- Car 8 -->
            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up">
                <div class="card h-100">
                    <img src="/img/2_1.png" class="card-img-top" alt="Car 8">
                    <div class="card-body">
                        <h4 class="card-title">Mercedes-Benz Sprinter</h4>
                        <p class="card-text">Vielseitigkeit<br>Große Ladekapazität<br>Zuverlässigkeit</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax">
        <h1 class="text-white text-center p-5">Unsere Preispläne</h1>
        <!-- Pricing Section -->
        <div class="container p-5">
            <div class="row">
                <!-- Basic Plan -->
                <div class="col-4" data-aos="fade-up">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <h4 class="my-0 font-weight-normal">Basic</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">€20 <small class="text-muted">/ Tag</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Freikilometer: 100 km</li>
                                <li>Versicherung: Basis</li>
                                <li>Zusätzlicher Fahrer: Nein</li>
                                <li>Kostenlose Stornierung bis 24h vor Fahrtantritt</li>
                                <li>Rund um die Uhr Pannenhilfe</li>
                            </ul>
                            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Jetzt buchen</button>
                        </div>
                    </div>
                </div>
                <!-- Premium Plan -->
                <div class="col-4" data-aos="fade-up">
                    <div class="card">
                        <div class="card-header bg-success text-white">
                            <h4 class="my-0 font-weight-normal">Premium</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">€30 <small class="text-muted">/ Tag</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Freikilometer: 200 km</li>
                                <li>Versicherung: Komfort</li>
                                <li>Zusätzlicher Fahrer: Ja</li>
                                <li>Kostenlose Stornierung bis 12h vor Fahrtantritt</li>
                                <li>Rund um die Uhr Pannenhilfe</li>
                                <li>Gratis Navigationssystem</li>
                            </ul>
                            <button type="button" class="btn btn-lg btn-block btn-outline-success">Jetzt buchen</button>
                        </div>
                    </div>
                </div>
                <!-- Ultra Plan -->
                <div class="col-4" data-aos="fade-up">
                    <div class="card">
                        <div class="card-header bg-danger text-white">
                            <h4 class="my-0 font-weight-normal">Ultra</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">€40 <small class="text-muted">/ Tag</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Freikilometer: Unbegrenzt</li>
                                <li>Versicherung: Premium</li>
                                <li>Zusätzlicher Fahrer: Ja</li>
                                <li>Kostenlose Stornierung bis 1h vor Fahrtantritt</li>
                                <li>Rund um die Uhr Pannenhilfe</li>
                                <li>Gratis Navigationssystem</li>
                                <li>Priorität bei Fahrzeugauswahl</li>
                            </ul>
                            <button type="button" class="btn btn-lg btn-block btn-outline-danger">Jetzt buchen</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FAQ Section -->
    <h1 class="text-center" data-aos="fade-down">Häufig gestellte Fragen</h1>
    <div id="faq-section" class="container p-5">
        <div class="accordion" id="faqAccordion" data-aos="fade-up">
            <div class="card-header">
                <div class="card" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Wie kann ich ein Auto buchen?
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqAccordion">
                    <div class="card-body">
                        Sie können ein Auto buchen, indem Sie das Formular in unserem Buchungsabschnitt ausfüllen und absenden.
                    </div>
                </div>
            </div>
            <div class="card-header">
                <div class="card" id="headingFive">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Bieten Sie einen Langzeitmietrabatt an?
                        </button>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#faqAccordion">
                    <div class="card-body">
                        Ja, wir bieten Rabatte für Langzeitmieten an. Kontaktieren Sie uns für weitere Informationen.
                    </div>
                </div>
            </div>
            <div class="card-header">
                <div class="card" id="headingEleven">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                            Was ist Ihre Stornierungsrichtlinie?
                        </button>
                    </h5>
                </div>
                <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#faqAccordion">
                    <div class="card-body">
                        Unsere Stornierungsrichtlinie variiert je nach Buchung. Bitte lesen Sie unsere AGB für detaillierte Informationen zur Stornierung und Rückerstattung.
                    </div>
                </div>
            </div>

            <div class="card-header">
                <div class="card" id="headingTen">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                            Bieten Sie Kindersitze für die Autos an?
                        </button>
                    </h5>
                </div>
                <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#faqAccordion">
                    <div class="card-body">
                        Ja, wir bieten Kindersitze als Zusatzoption an. Bitte geben Sie bei der Buchung an, ob Sie einen Kindersitz benötigen.
                    </div>
                </div>
            </div>

            <div class="card-header">
                <div class="card" id="headingNine">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                            Was passiert, wenn ich meine Buchung ändern muss?
                        </button>
                    </h5>
                </div>
                <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#faqAccordion">
                    <div class="card-body">
                        Bitte kontaktieren Sie uns so früh wie möglich, wenn Sie Änderungen an Ihrer Buchung vornehmen müssen. Wir werden unser Bestes tun, um Ihnen zu helfen.
                    </div>
                </div>
            </div>

            <div class="card-header">
                <div class="card" id="headingEight">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                            Sind die Autos versichert?
                        </button>
                    </h5>
                </div>
                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#faqAccordion">
                    <div class="card-body">
                        Ja, alle unsere Autos sind voll versichert. Es gelten jedoch bestimmte Bedingungen und Selbstbeteiligungen. Weitere Informationen finden Sie in unseren Versicherungsrichtlinien.
                    </div>
                </div>
            </div>

            <div class="card-header">
                <div class="card" id="headingSeven">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            Kann ich das gemietete Auto an einem anderen Standort abgeben?
                        </button>
                    </h5>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#faqAccordion">
                    <div class="card-body">
                        Ja, wir bieten die Möglichkeit, das Auto an einem anderen Standort abzugeben. Es können jedoch zusätzliche Gebühren anfallen. Bitte kontaktieren Sie uns für weitere Informationen.
                    </div>
                </div>
            </div>

            <div class="card-header">
                <div class="card" id="headingSix">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Kann ich das gemietete Auto in einem anderen Land abgeben?
                        </button>
                    </h5>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#faqAccordion">
                    <div class="card-body">
                        Ja, wir bieten grenzüberschreitende Rückgabeoptionen an. Es können jedoch zusätzliche Gebühren anfallen. Bitte kontaktieren Sie uns für weitere Informationen.
                    </div>
                </div>
            </div>

            <div class="card-header">
                <div class="card" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Was sind Ihre Öffnungszeiten?
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqAccordion">
                    <div class="card-body">
                        Unser Service steht Ihnen rund um die Uhr zur Verfügung.
                    </div>
                </div>
            </div>
            <!-- Weitere Fragen hier einfügen -->
        </div>
    </div>

    <h1 class="text-center" data-aos="fade-down" style="font-size: 2.5em;">Newsletter Anmeldung</h1>
    <!-- Newsletter-Anmeldung Section -->
    <div id="newsletter-section"class="container p-5">
        <div class="row justify-content-center" data-aos="fade-up">
            <div class="col-md-6">
                <p style="font-size: 1.2em;">Melden Sie sich für unseren Newsletter an, um über unsere neuesten Angebote informiert zu bleiben.</p>
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control colorless-input" id="newsletter-email" placeholder="Ihre Email" style="font-size: 1.2em;">
                    </div>
                    <button type="submit" class="btn btn-primary btn-animate">Anmelden</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Footer -->
<div class="footer">
    <div th:replace="fragments/footer.html::footer"></div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
</body>
</html>