<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/logout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" href="/img/Logo.png" type="image/png">
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/navWithoutLogin.html::nav"></div>
    <div class="content">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="logo-container">
                        <img src="/img/Logo.png" alt="Logo" class="logo">
                    </div>
                    <h2 class="text-center mb-4">Logout</h2>
                    <p class="text-center">Sie haben sich erfolgreich abgemeldet.</p>
                    <p class="text-center mt-3">Möchten Sie sich <a href="/api/v/registration/login">wieder anmelden</a>?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div th:replace="fragments/footer.html::footer"></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
