<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<div th:replace="fragments/nav.html::nav"></div>
<div class="container">
    <h1>Profil</h1>
    <table class="table">
        <tr>
            <th>Field</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Titel:</td>
            <td id="titel" th:text="${userDetails.titel}"></td>
        </tr>
        <tr>
            <td>Firstname:</td>
            <td id="firstname" th:text="${userDetails.firstName}"></td>
        </tr>
        <tr>
            <td>Lastname:</td>
            <td id="lastname" th:text="${userDetails.lastName}"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td id="email" th:text="${userDetails.email}"></td>
        </tr>
        <tr>
            <td>Passwort:</td>
            <td id="password" th:text="${userDetails.password}"></td>
        </tr>
        <tr>
            <td>Adresse:</td>
            <td id="adresse" th:text="${userDetails.adresse}"></td>
        </tr>
        <tr>
            <td>PLZ:</td>
            <td id="plz" th:text="${userDetails.plz}"></td>
        </tr>
        <tr>
            <td>Stadt:</td>
            <td id="stadt" th:text="${userDetails.stadt}"></td>
        </tr>
        <tr>
            <td>Telefonnummer:</td>
            <td id="mobilnummer" th:text="${userDetails.mobilnummer}"></td>
        </tr>
        <tr>
            <td>Geburtsdatum:</td>
            <td id="geburtsdatum" th:text="${userDetails.geburtsdatum}"></td>
        </tr>
        <tr>
            <td>Geburtsort:</td>
            <td id="geburtsort" th:text="${userDetails.geburtsort}"></td>
        </tr>
        <tr>
            <td>Fuehrerscheinnummer:</td>
            <td id="fuehrerscheinnummer" th:text="${userDetails.fuehrerscheinnummer}"></td>
        </tr>
        <tr>
            <td>Ablaufdatum:</td>
            <td id="ablaufdatum" th:text="${userDetails.ablaufdatum}"></td>
        </tr>
        <tr>
            <td>Ausstellungsort:</td>
            <td id="ausstellungsort" th:text="${userDetails.ausstellungsort}"></td>
        </tr>
        <tr>
            <td>Personalausweisnummer:</td>
            <td id="personalausweisnummer" th:text="${userDetails.personalausweisnummer}"></td>
        </tr>
        <tr>
            <td>Reisepassnummer:</td>
            <td id="reisepassnummer" th:text="${userDetails.reisepassnummer}"></td>
        </tr>
        <tr>
            <td>Tarif:</td>
            <td id="tarif" th:text="${userDetails.tarif}"></td>
        </tr>
    </table>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal">
        Editieren
    </button>
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Daten bearbeiten</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Hier kannst du die Eingabefelder für die Datenbearbeitung einfügen -->
                    <form id="editForm">
                        <div class="form-group">
                            <label for="titelInput">Titel</label>
                            <input type="text" class="form-control" id="titelInput" th:value="${userDetails.titel}">
                        </div>
                        <div class="form-group">
                            <label for="firstNameInput">Firstname</label>
                            <input type="text" class="form-control" id="firstNameInput" th:value="${userDetails.firstName}">
                        </div>
                        <div class="form-group">
                            <label for="lastNameInput">Lastname</label>
                            <input type="text" class="form-control" id="lastNameInput" th:value="${userDetails.lastName}">
                        </div>
                        <div class="form-group">
                            <label for="emailInput">Email</label>
                            <input type="email" class="form-control" id="emailInput" th:value="${userDetails.email}">
                        </div>
                        <div class="form-group">
                            <label for="addressInput">Adresse</label>
                            <input type="text" class="form-control" id="addressInput" th:value="${userDetails.adresse}">
                        </div>
                        <div class="form-group">
                            <label for="plzInput">PLZ</label>
                            <input type="text" class="form-control" id="plzInput" th:value="${userDetails.plz}">
                        </div>
                        <div class="form-group">
                            <label for="stadtInput">Stadt</label>
                            <input type="text" class="form-control" id="stadtInput" th:value="${userDetails.stadt}">
                        </div>
                        <div class="form-group">
                            <label for="mobilnummerInput">Mobilnummer</label>
                            <input type="text" class="form-control" id="mobilnummerInput" th:value="${userDetails.mobilnummer}">
                        </div>
                        <div class="form-group">
                            <label for="geburtsdatumInput">Geburtsdatum</label>
                            <input type="text" class="form-control" id="geburtsdatumInput" th:value="${userDetails.geburtsdatum}">
                        </div>
                        <div class="form-group">
                            <label for="geburtsortInput">Geburtsort</label>
                            <input type="text" class="form-control" id="geburtsortInput" th:value="${userDetails.geburtsort}">
                        </div>
                        <div class="form-group">
                            <label for="fuehrerscheinnummerInput">Fuehrerscheinnummer</label>
                            <input type="text" class="form-control" id="fuehrerscheinnummerInput" th:value="${userDetails.fuehrerscheinnummer}">
                        </div>
                        <div class="form-group">
                            <label for="ablaufdatumInput">Ablaufdatum</label>
                            <input type="text" class="form-control" id="ablaufdatumInput" th:value="${userDetails.ablaufdatum}">
                        </div>
                        <div class="form-group">
                            <label for="ausstellungsortInput">Ausstellungsort</label>
                            <input type="text" class="form-control" id="ausstellungsortInput" th:value="${userDetails.ausstellungsort}">
                        </div>
                        <div class="form-group">
                            <label for="personalausweisnummerInput">Personalausweisnummer</label>
                            <input type="text" class="form-control" id="personalausweisnummerInput" th:value="${userDetails.personalausweisnummer}">
                        </div>
                        <div class="form-group">
                            <label for="reisepassnummerInput">Reisepassnummer</label>
                            <input type="text" class="form-control" id="reisepassnummerInput" th:value="${userDetails.reisepassnummer}">
                        </div>
                        <div class="form-group">
                            <label for="tarifInput">Tarif</label>
                            <input type="text" class="form-control" id="tarifInput" th:value="${userDetails.tarif}">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                    <button type="button" class="btn btn-primary" id="saveButton">Speichern</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<div class="footer">
    <div th:replace="fragments/footer.html::footer"></div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script>
    document.getElementById('saveButton').addEventListener('click', saveChanges);

    function saveChanges() {
        var titel = document.getElementById('titelInput').value;
        var firstName = document.getElementById('firstNameInput').value;
        var lastName = document.getElementById('lastNameInput').value;
        var email = document.getElementById('emailInput').value;
        var address = document.getElementById('addressInput').value;
        var plz = document.getElementById('plzInput').value;
        var stadt = document.getElementById('stadtInput').value;
        var mobilnummer = document.getElementById('mobilnummerInput').value;
        var geburtsdatum = document.getElementById('geburtsdatumInput').value;
        var geburtsort = document.getElementById('geburtsortInput').value;
        var fuehrerscheinnummer = document.getElementById('fuehrerscheinnummerInput').value;
        var ablaufdatum = document.getElementById('ablaufdatumInput').value;
        var ausstellungsort = document.getElementById('ausstellungsortInput').value;
        var personalausweisnummer = document.getElementById('personalausweisnummerInput').value;
        var reisepassnummer = document.getElementById('reisepassnummerInput').value;
        var tarif = document.getElementById('tarifInput').value;

        // AJAX-Aufruf oder andere Methoden, um die Daten zu speichern
        // Beispiel:
        $.ajax({
            url: '/updateUser',
            type: 'PUT',
            data: JSON.stringify({
                email: email,
                firstName: firstName,
                lastName: lastName,
                address: address,
                plz: plz,
                stadt: stadt,
                mobilnummer: mobilnummer,
                geburtsdatum: geburtsdatum,
                geburtsort: geburtsort,
                fuehrerscheinnummer: fuehrerscheinnummer,
                ablaufdatum: ablaufdatum,
                ausstellungsort: ausstellungsort,
                personalausweisnummer: personalausweisnummer,
                reisepassnummer: reisepassnummer,
                tarif: tarif
            }),
            contentType: 'application/json',
            success: function (data) {
                // Erfolgsbehandlung
                // Aktualisiere die angezeigten Benutzerdaten
                document.getElementById('titel').innerText = titel;
                document.getElementById('firstname').innerText = firstName;
                document.getElementById('lastname').innerText = lastName;
                document.getElementById('email').innerText = email;
                document.getElementById('adresse').innerText = address;
                document.getElementById('plz').innerText = plz;
                document.getElementById('stadt').innerText = stadt;
                document.getElementById('mobilnummer').innerText = mobilnummer;
                document.getElementById('geburtsdatum').innerText = geburtsdatum;
                document.getElementById('geburtsort').innerText = geburtsort;
                document.getElementById('fuehrerscheinnummer').innerText = fuehrerscheinnummer;
                document.getElementById('ablaufdatum').innerText = ablaufdatum;
                document.getElementById('ausstellungsort').innerText = ausstellungsort;
                document.getElementById('personalausweisnummer').innerText = personalausweisnummer;
                document.getElementById('reisepassnummer').innerText = reisepassnummer;
                document.getElementById('tarif').innerText = tarif;

                $('#editModal').modal('hide');
            },
            error: function (xhr, status, error) {
                // Fehlerbehandlung
                console.error(error);
            }
        });
    }
</script>
</body>
</html>
