<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/register_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" href="/img/Logo.png" type="image/png">

</head>
<body>
<!-- Navigation -->
<div th:replace="fragments/nav.html::nav"></div>
<div class="container">
    <div style="margin-bottom: 20px;"></div>
    <div class="d-flex align-items-center justify-content-between">
        <h2>Register</h2>
        <img src="/img/logo.png" alt="Logo" height="100px">
    </div>

    <form th:action="@{/register-form}" method="post" enctype="multipart/form-data" >
        <!-- Formularfelder für die Benutzerregistrierung -->
        <div class="form-group animated-input">
            <input type="text" class="form-control" id="firstName" name="firstName" required>
            <label for="firstName">First Name</label>
        </div>
        <div class="form-group animated-input">
            <input type="text" class="form-control" id="lastName" name="lastName" required>
            <label for="lastName">Last Name</label>
        </div>
        <div class="form-group animated-input">
            <input type="text" class="form-control" id="birth" name="birth" required>
            <label for="birth">Date of Birth</label>
        </div>
        <div class="form-group animated-input">
            <input type="text" class="form-control" id="address" name="address" required>
            <label for="address">Address</label>
        </div>
        <div class="form-group animated-input">
            <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" required>
            <label for="phoneNumber">Phone Number</label>
        </div>
        <div class="form-group animated-input">
            <input type="text" class="form-control" id="username" name="username" required>
            <label for="username">Username</label>
        </div>
        <div class="form-group animated-input">
            <input type="email" class="form-control" id="email" name="email" required>
            <label for="email">Email</label>
        </div>
        <div class="form-group animated-input">
            <input type="password" class="form-control" id="password" name="password" required>
            <label for="password">Password</label>
        </div>
        <div class="form-group">
            <label for="paymentMethod">Payment Method:</label>
            <select class="form-control" id="paymentMethod" name="paymentMethod" required>
                <option value="paypal">PayPal</option>
                <option value="creditcard">Credit Card</option>
                <option value="visa">Visa</option>
                <option value="giroaccount">Giro Account</option>
            </select>
        </div>
        <div class="mb-4"></div> <!-- Leerer Div-Behälter für den Abstand -->
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
<div style="margin-bottom: 20px;"></div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
