<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div th:replace="fragments/footer.html::footer"></div><!-- Navigation -->
<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="card col-md-4 bg-white shadow-md p-5">
        <div class="mb-4 text-center">
        </div>
        <div class="text-center">
            <h1>Vielen Dank!</h1>
            <p>Wir haben den Link an Ihren Posteingang gesendet.</p>
            <a href="http://localhost:8080/index"><button class="btn btn-outline-success">Log in</button></a>
        </div>
    </div>
</div>
</body>
<div th:replace="fragments/nav.html::nav"></div>
</html>