<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrierung</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" href="/img/Logo.png" type="image/png">
    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="vendor/jquery-ui/jquery-ui.min.css">
    <!--link rel="stylesheet" href="css/register.css"-->

    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            background-color: #f2f2f2;
            font-family: Arial, sans-serif;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
            flex: 1;
        }

        .content {
            flex: 1;
        }

        .slider-card {
            display: none;
        }

        .slider-card.active {
            display: block;
        }

        .card {
            border: none;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        .card-header {
            background-color: #0046be;
            color: #ffffff;
            border-radius: 10px 10px 0 0;
            padding: 10px 20px;
        }

        .form-label {
            font-weight: bold;
        }

        .button-container {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }

        .footer {
            margin-top: auto;
        }
        <!-- bezahlmethode -->
             .form-check-input[type="radio"]:checked + .form-check-label .input-group-text {
                 transform: scale(1.2);
             }

        .input-group-text {
            width: 180px;
        }

        .icon-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .icon-container .fa-fw {
            width: 100%;
            text-align: center;
        }
    </style>
</head>
<body>
<!-- Navigation -->
<div th:replace="fragments/navWithoutLogin::nav"></div>
<div class="container">
    <div id="slider" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
        <form th:action="@{http://localhost:8080/api/v1/registration}" method="post" enctype="multipart/form-data" >
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card personal-data">
                        <h2 class="card-header">Personendaten</h2>
                        <div class="card-body">
                            <div class="mb-3">
                                <label for="titel" class="form-label">Titel:</label>
                                <select id="titel" name="titel" class="form-select" required>
                                    <option value="">Bitte wähle einen Titel aus</option>
                                    <option value="Herr">Herr</option>
                                    <option value="Frau">Frau</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="userName" class="form-label">Benutzername:</label>
                                <input type="text" id="userName" name="userName" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label for="firstName" class="form-label">Vorname:</label>
                                <input type="text" id="firstName" name="firstName" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label for="lastName" class="form-label">Nachname:</label>
                                <input type="text" id="lastName" name="lastName" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label for="geburtsdatum" class="form-label">Geburtsdatum:</label>
                                <input type="date" id="geburtsdatum" name="geburtsdatum" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label for="geburtsort" class="form-label">Geburtsort:</label>
                                <input type="text" id="geburtsort" name="geburtsort" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label for="reisepassnummer" class="form-label">Reisepassnummer:</label>
                                <input type="text" id="reisepassnummer" name="reisepassnummer" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label for="personalausweisnummer" class="form-label">Personalausweisnummer:</label>
                                <input type="text" id="personalausweisnummer" name="personalausweisnummer" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label for="erteilungsdatum" class="form-label">Erteilungsdatum:</label>
                                <input type="date" id="erteilungsdatum" name="erteilungsdatum" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label for="fuehrerscheinnummer" class="form-label">Führerscheinnummer:</label>
                                <input type="text" id="fuehrerscheinnummer" name="fuehrerscheinnummer" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label for="ablaufdatum" class="form-label">Ablaufdatum:</label>
                                <input type="date" id="ablaufdatum" name="ablaufdatum" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label for="ausstellungsort" class="form-label">Ausstellungsort:</label>
                                <input type="text" id="ausstellungsort" name="ausstellungsort" class="form-control" required>
                            </div>
                            <div class="button-container">
                                <button class="btn btn-primary" type="button" onclick="nextSlide()">Weiter</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card subscription">
                        <h2 class="card-header">Abonnement und Kontakt</h2>
                        <div class="card-body">
                            <div class="mb-3">
                                <label for="adresse" class="form-label">Straße und Hausnummer:</label>
                                <input type="text" id="adresse" name="adresse" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label for="plz" class="form-label">PLZ:</label>
                                <input type="text" id="plz" name="plz" class="form-control" pattern="[0-9]+" required>
                            </div>

                            <div class="mb-3">
                                <label for="stadt" class="form-label">Ort:</label>
                                <input type="text" id="stadt" name="stadt" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label for="telefonnummer" class="form-label">Mobilnummer:</label>
                                <input type="text" id="telefonnummer" name="telefonnummer" class="form-control"  pattern="[0-9]+"  required>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">E-Mail:</label>
                                <input type="email" id="email" name="email" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Passwort:</label>
                                <input type="password" id="password" name="password" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Bezahlmethode:</label><br>
                                <div class="input-group mb-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" id="paypal" name="payMethod" value="paypal" required>
                                        <label class="form-check-label" for="paypal">
                                            <div class="input-group-text">
                                                <div class="icon-container">
                                                    <i class="fab fa-paypal fa-fw" style="color: blue;"></i>
                                                    <span class="icon-text "> PayPal</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" id="visa" name="payMethod" value="visa" required>
                                        <label class="form-check-label" for="visa">
                                            <div class="input-group-text">
                                                <div class="icon-container">
                                                    <i class="fab fa-cc-visa fa-fw" style="color: green;"></i>
                                                    <span class="icon-text "> Visa</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" id="mastercard" name="payMethod" value="mastercard" required>
                                        <label class="form-check-label" for="mastercard">
                                            <div class="input-group-text">
                                                <div class="icon-container">
                                                    <i class="fab fa-cc-mastercard fa-fw" style="color: red;"></i>
                                                    <span class="icon-text "> MasterCard</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="tarif" class="form-label">Tarief:</label>
                                    <select id="tarif" name="tarif" class="form-select" required>
                                        <option value="basic">Basic</option>
                                        <option value="premium">Premium</option>
                                        <option value="ultra">Ultra</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" id="terms" name="terms" class="form-check-input" required>
                                <label for="terms" class="form-check-label">Ich akzeptiere die <a href="http://localhost:8080/api/v/registration/term_condition"><u>Geschäftsbedingungen </u> </a> der Seite</label>
                            </div>
                            <div class="button-container">
                                <button class="btn btn-primary" type="button" onclick="previousSlide()">Zurück</button>
                                <button type="submit" class="btn btn-light btn-lg" style="background-color: forestgreen;" data-mdb-ripple-color="dark">Regestrieren</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Footer -->
<div class="footer">
    <div th:replace="fragments/footer.html::footer"></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/jquery-ui/jquery-ui.min.js"></script>
<script src="vendor/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="vendor/jquery-validation/dist/additional-methods.min.js"></script>
<script src="js/register.js"></script>
<script>
    var slider = document.getElementById("slider");
    var carousel = new bootstrap.Carousel(slider);

    function nextSlide() {
        carousel.next();
    }

    function previousSlide() {
        carousel.prev();
    }
</script>
</body>
</html>
