<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Reservierungsbestätigung</title>
  <link rel="stylesheet" href="/css/miss_reservierung.css">
</head>
<body>
<div class="container">
  <img src="https://i.ibb.co/3r7VRXT/Logo.png" alt="Logo" class="logo">
  <h1 class="title">Reservierungsbestätigung</h1>

  <div>
    <p class="subtitle">Hallo {userName},</p>
    <p>Vielen Dank für Ihre Reservierung. Hier sind die Details Ihrer Buchung:</p>

    <table>
      <tr>
        <th> Reservierungsnummer:</th>
        <td>{reservationId}</td>
      </tr>
      <tr>
        <th>Durchgeführt am:</th>
        <td>{reservationDueDatum}</td>
      </tr>
      <tr>
        <th>Datum:</th>
        <td>{reservationDatum}</td>
      </tr>
      <tr>
        <th>Zeit:</th>
        <td>{reservationZeit}</td>
      </tr>
      <tr>
        <th>Abholort:</th>
        <td>{reservationAbholort}</td>
      </tr>
      <tr>
        <th>Ort:</th>
        <td>{reservationOrt}</td>
      </tr>
      <tr>
        <th>Fahrzeug:</th>
        <td>{reservationFahrzeug}</td>
      </tr>
      <tr>
        <th>PKW Model:</th>
        <td>{reservationModelPkw}</td>
      </tr>
      <tr>
        <th>PKW Marke:</th>
        <td>{reservationMarke}</td>
      </tr>
      <tr>
        <th>Anzahl der Türen:</th>
        <td>{reservationAnzahlDerTuren}</td>
      </tr>
      <tr>
        <th>Sprit:</th>
        <td>{reservationSprit}</td>
      </tr>
      <tr>
        <th>LKW-Model:</th>
        <td>{reservationModelLkw}</td>
      </tr>
      <tr>
        <th>LKW-Größe:</th>
        <td>{reservationLkwSize}</td>
      </tr>
      <tr>
        <th>Motorrad-Größe:</th>
        <td>{reservationMotoradSize}</td>
      </tr>
      <tr>
        <th>Motorrad-Model:</th>
        <td>{reservationModelMotorad}</td>
      </tr>
      <tr>
        <th>Motorrad-Marke:</th>
        <td>{reservationMotoradMarke}</td>
      </tr>
      <tr>
        <th>Anhänger-Größe:</th>
        <td>{reservationAnhaengerSize}</td>
      </tr>
    </table>

  </div>
  <div class="footer">
    <p class="footer-text"> Vielen Dank für Ihre Buchung. Wir freuen uns, Sie bei uns begrüßen zu dürfen!</p>
    <h2 class="footer-title">ECO-Ride</h2>
    <p class="footer-text">Bei Fragen oder Anliegen stehen wir Ihnen gerne zur Verfügung.</p>
    <p class="footer-text">Vielen Dank und beste Grüße,</p>
    <p class="footer-text">Ihr ECO-Ride Team</p>
  </div>
</div>
</body>
</html>
