<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservierung</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/reservierung.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" href="/img/Logo.png" type="image/png">
</head>
<body>
<div th:replace="fragments/nav.html::nav"></div>
<div class="content ">

    <div class="heading">
    <h1>Reservierung</h1>
    </div>
    <div class="subheading">
    <h2>Aktuelle Reservierungen</h2>
    </div>
    <div class="row justify-content-center scrollable-table">
        <div class="col-md-8 table-container">
            <table class="table">
                <thead>
                <tr>
                    <th>Fahrzeug</th>
                    <th>Zeit</th>
                    <th>Datum</th>
                    <th>Abholort</th>
                    <th>Ort</th>
                    <th>Status</th>
                    <th>Aktion</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="reservation : ${reservations}" th:unless="${reservation.status == reservation.status.CANCELLED || reservation.status == reservation.status.MISSED}">
                    <td th:text="${reservation.getFahrzeug}"></td>
                    <td th:text="${reservation.zeit}"></td>
                    <td th:text="${reservation.datum}"></td>
                    <td th:text="${reservation.abholort}"></td>
                    <td th:text="${reservation.ort}"></td>
                    <td th:text="${reservation.status}"></td>
                    <td>
                        <form action="/reservierung/cancelReservation" method="POST">
                            <input type="hidden"name="reservationId" th:value="${reservation.id}">
                            <button type="submit" class="btn btn-danger" id="stornierenButton">Stornieren</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="subheading">
    <h2>Neue Reservierung</h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 table-container">
            <form id="myForm" th:action="@{/reservierung}" method="POST" th:object="${reservierung}">
                <a class="nav-link" th:href="@{/reservierung/{userId}(userId=${userId})}"></a>
                <div class="form-group">
                    <label for="zeit">Zeit:</label>
                    <input type="time" class="form-control" id="zeit" name="zeit" required>
                </div>
                <div class="form-group">
                    <label for="datum">Datum:</label>
                    <input type="date" class="form-control" id="datum" name="datum" required>
                </div>
                <div class="form-group">
                    <label for="abholort">Abholort:</label>
                    <input type="text" class="form-control" id="abholort" name="abholort" required>
                </div>
                <div class="form-group">
                    <label for="ort">Ort:</label>
                    <input type="text" class="form-control" id="ort" name="ort" required>
                </div>
                <div class="form-group">
                    <label for="fahrzeug">Fahrzeug:</label>
                    <select class="form-control" id="fahrzeug" name="fahrzeug" onchange="showFieldsByVehicleType()" required>
                        <option value="" disabled selected>Bitte wählen</option>
                        <option value="PKW">PKW</option>
                        <option value="LKW">LKW</option>
                        <option value="MOTORAD">MOTORAD</option>
                        <option value="ANHÄNGER">ANHÄNGER</option>
                    </select>
                </div>
                <!-- LKW -->
                <div id="lkwFields" style="display: none;">
                    <div class="form-group">
                        <label for="lkwSize">LKW Größe:</label>
                        <select class="form-control" id="lkwSize" name="lkwSize" onchange="populateLKWModels()">
                            <option value="">Bitte wählen</option>
                            <option value="Klein">Klein</option>
                            <option value="Mittel">Mittel</option>
                            <option value="Groß">Groß</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="modelLkw">Modell:</label>
                        <select class="form-control" id="modelLkw" name="modelLkw">
                            <option value="" disabled selected>Bitte wählen</option>
                        </select>
                    </div>
                </div>
                <!--PKW -->
                <div id="pkwFields" style="display: none;">
                    <div class="form-group">
                        <label for="marke">Marke:</label>
                        <select class="form-control" id="marke" name="marke" onchange="populateModels()">
                            <option value="">Bitte wählen</option>
                            <option value="Audi">Audi</option>
                            <option value="BMW">BMW</option>
                            <option value="Mercedes-Benz">Mercedes-Benz</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="anzahlDerTuren">Anzahl der Türen:</label>
                        <select class="form-control" id="anzahlDerTuren" name="anzahlDerTuren" onchange="populateModels()">
                            <option value="">Bitte wählen</option>
                            <option value="2">2 Türen</option>
                            <option value="4">4 Türen</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sprit">Sprit:</label>
                        <select class="form-control" id="sprit" name="sprit" onchange="populateModels()">
                            <option value="">Bitte wählen</option>
                            <option value="Diesel">Diesel</option>
                            <option value="Benzin">Benzin</option>
                            <option value="Gas">Gas</option>
                            <option value="Elektro">Elektro</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="modelPkw">Modell:</label>
                        <select class="form-control" id="modelPkw" name="modelPkw">
                            <option value="" disabled selected>Bitte wählen</option>
                        </select>
                    </div>
                </div>



                <!--MOTORAD -->
                <div id="motoradFields" style="display: none;">
                    <div class="form-group">
                        <label for="motoradSize">Größe:</label>
                        <select class="form-control" id="motoradSize" name="motoradSize" onchange="populateMotoradModels()">
                            <option value="" disabled selected>Bitte wählen</option>
                            <option value="Small">Small</option>
                            <option value="Medium">Medium</option>
                            <option value="Large">Large</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="motoradMarke">Marke:</label>
                        <select class="form-control" id="motoradMarke" name="motoradMarke" onchange="populateMotoradModels()">
                            <option value="" disabled selected>Bitte wählen</option>
                            <option value="Harley-Davidson">Harley-Davidson</option>
                            <option value="Honda">Honda</option>
                            <option value="Yamaha">Yamaha</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="modelMotorad">Modell:</label>
                        <select class="form-control" id="modelMotorad" name="modelMotorad">
                            <option value="" disabled selected>Bitte wählen</option>
                        </select>
                    </div>
                </div>

                <!--ANHÄNGER -->
                <div id="anhaengerFields" style="display: none;">
                    <div class="form-group">
                        <label for="anhaengerSize">Anhänger Größe:</label>
                        <select class="form-control" id="anhaengerSize" name="anhaengerSize">
                            <option value="">Bitte wählen</option>
                            <option value="Klein">Klein</option>
                            <option value="Mittel">Mittel</option>
                            <option value="Groß">Groß</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="barrierefrei">Barrierefrei:</label>
                    <div>
                        <input type="checkbox" id="barrierefrei" name="barrierefrei">
                        <label for="barrierefrei">Ja</label>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" id="reservierenButton" onclick="submitForm()">Reservieren</button>
            </form>
        </div>
    </div>
    <div class="subheading">
        <h2>Stornierte Reservierungen</h2>
    </div>
    <div class="row justify-content-center scrollable-table">
        <div class="col-md-8 table-container">
            <table class="table">
                <thead>
                <tr>
                    <th>Fahrzeug</th>
                    <th>Zeit</th>
                    <th>Datum</th>
                    <th>Abholort</th>
                    <th>Ort</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="reservation : ${cancelledReservations}">
                    <td th:text="${reservation.getFahrzeug}"></td>
                    <td th:text="${reservation.zeit}"></td>
                    <td th:text="${reservation.datum}"></td>
                    <td th:text="${reservation.abholort}"></td>
                    <td th:text="${reservation.ort}"></td>
                    <td th:text="${reservation.status}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="subheading">
        <h2>Verpasste Reservierungen</h2>
    </div>
    <div class="row justify-content-center scrollable-table">
        <div class="col-md-8 table-container">
            <table class="table">
                <thead>
                <tr>
                    <th>Fahrzeug</th>
                    <th>Zeit</th>
                    <th>Datum</th>
                    <th>Abholort</th>
                    <th>Ort</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="reservation : ${missedReservations}">
                    <td th:text="${reservation.getFahrzeug}"></td>
                    <td th:text="${reservation.zeit}"></td>
                    <td th:text="${reservation.datum}"></td>
                    <td th:text="${reservation.abholort}"></td>
                    <td th:text="${reservation.ort}"></td>
                    <td th:text="${reservation.status}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Footer -->
<div class="footer">
    <div th:replace="fragments/footer.html::footer"></div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="/js/reservierung.js"></script>
<div id="errorContainer"></div>
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Reservierung erfolgreich!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Schließen">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <i class="fas fa-check-circle fa-4x text-success"></i>
                <p>Ihre Reservierung wurde erfolgreich abgeschlossen.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
