<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dinstleistungen</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" href="/img/Logo.png" type="image/png">
</head>
<body>
<!-- Navigation -->
<div th:replace="fragments/nav.html::nav"></div>
<div class="container">
    <!-- Hauptinhalt der Seite -->
    <div class="content">
        Hello world from services !
    </div>
</div>

<!-- Footer -->
<footer class="footer">
    <div th:replace="fragments/footer.html::footer"></div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
