<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dinstleistungen</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/service.css">
    <script src="https://kit.fontawesome.com/13bb240f97.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" href="/img/Logo.png" type="image/png">
    <link rel="stylesheet" href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css">
</head>
<body>
<div th:replace="fragments/nav::nav"></div>
<div class="parallax">
    <h1 class="text-center py-5 text-white">Unsere Dienstleistungen</h1>
    <div id="services-section" class="container p-5">
        <div class="row text-center">
            <div class="col-lg-4 service-box" data-aos="fade-up">
                <div class="card-body">
                    <h4 class="service-title">Vielfältige Fahrzeugauswahl</h4>
                    <p class="service-description">Wählen Sie aus einer großen Auswahl an hochwertigen Fahrzeugen das passende Modell für Ihre Bedürfnisse aus.</p>
                </div>
            </div>
            <div class="col-lg-4 service-box" data-aos="fade-up">
                <div class="card-body">
                    <h4 class="service-title">Wartung und Instandhaltung</h4>
                    <p class="service-description">Unsere Fahrzeuge werden regelmäßig gewartet und instand gehalten, um Ihnen eine zuverlässige und reibungslose Fahrt zu garantieren.</p>
                </div>
            </div>
            <div class="col-lg-4 service-box" data-aos="fade-up">
                <div class="card-body">
                    <h4 class="service-title">Flexible Mietdauer</h4>
                    <p class="service-description">Wir bieten Ihnen flexible Mietdaueroptionen, damit Sie das Fahrzeug für den benötigten Zeitraum nutzen können.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<footer class="footer mt-auto py-3">
    <div class="container">
        <span>&copy; 2023 ECO-RIDE. All rights reserved.</span>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<script>AOS.init();</script>
</body>
</html>