<!DOCTYPE html>
<html>
<head>
  <title>Admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/user_style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/css/bootstrap.min.css">
  <style>

  </style>
</head>
<body>
<div class="container">
  <h1>User List</h1>
  <div class="password-form">
    <input type="password" class="password-input" placeholder="Enter password" id="passwordInput">
    <button class="password-btn btn btn-primary">Submit</button>
  </div>
  <table class="table hidden">
    <thead>
    <tr>
      <th>ID</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Date of Birth</th>
      <th>Address</th>
      <th>PhoneNumber</th>
      <th>Username</th>
      <th>E-mail</th>
      <th>Password</th>
      <th>PaymentMethod</th>
      <th>Tarif</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user :${users}" class="user-row">
      <td th:text="${user.id}"></td>
      <td th:text="${user.firstName}"></td>
      <td th:text="${user.lastName}"></td>
      <td th:text="${user.birth}"></td>
      <td th:text="${user.address}"></td>
      <td th:text="${user.phoneNumber}"></td>
      <td th:text="${user.username}"></td>
      <td th:text="${user.email}"></td>
      <td th:text="${user.password}"></td>
      <td th:text="${user.paymentMethod}"></td>
      <td th:text="${user.tarif}"></td>
    </tr>
    </tbody>
  </table>
</div>
  <script src="/js/user_script.js"></script>
</body>
</html>
